extends layout

block content
  h1= title
  - let houseplants = results;
  div(class="container-fluid")
    div(class="row")
      each item in houseplants
        - let destination = `dispatch(\"/houseplant/update/?id=${item._id}\")`
        div(class="row-sm-2", class ="m-1") Houseplant #{item.scientific_name} also known as #{item.common_name} is a #{item.difficulty} on a scale of 1-10 to take care of.
          br
          button.btn(class="btn-primary ml-1", onclick=destination) Update

  script. 
    function dispatch(path){
      window.location.href=path
    }